<!-- <h1> About Ask me Anything </h1> -->
<div class="row">
<h2> What is Ask me Anything? </h2>

   <div class="about">
       <p> It is an app inspired by the way you work, as it answers questions</p>
       <p> in programming ,sales and cloud. Your questions will be answered by the help of IBM </p>
       <p> team, If those answers do not fully address your question so please contact us from </p>
       <p> the navigation bar, and one of IBM team will kindly answer your question.</p>
     </div>


 <h4>Our Vision </h4>
 <div class="vision">
   <p> Is to help answering all of the users questions, and providing the easiness in doing</p>
   <p> every thing realated to computer. </p>
</div>



 <h3> Guideliness </h3>
 <div class=" creation">
   <p> This app is created on 2017 by Ahmed Koshek, Yasmine Zakaria, Amina Yasser and Hussein El Bendak. </p>
   <p> under the supervision of Menna Hawas and Sherif Ali. </p>
 </div>


 <h5> How to use the app </h5>
 <div class="help">
   <p> You start by typing your question in the bar of ask me anything, then you click go </p>
   <p> and answers for your question will appear. Kindly you will start rating the answer,</p>
   <p> and giving us your feedback </p>
 </div>
 
