
<div [ngSwitch]="view" style="padding-top: 70px">
  <!-- Question view -->
    <template id="question" [ngSwitchCase]="'question'">

<div align = center class="col-md-6 col-md-offset-3">
  <h3   class = "text-center">
    Bluemix Ask me anything
  </h3>
  <h6  class = "blurb">
    {{hometitle}}
  </h6>
</div>

  <div style="margin-top: 40px; margin-bottom: 40px;" align = center class="col-md-6 col-md-offset-3" style="color:white;">
    <mdl-textfield id="textArea" (keydown.enter)= "switch();false" placeholder="Enter your question here" [(ngModel)]="q" rows="2" style="color:white;"></mdl-textfield>
    <div style="text-align: right;">
      <button (click) = " switch() " mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple >
          Ask
      </button>
    </div>
  </div>

</template>


<!-- answer view -->
<template [ngSwitchCase]="'answer'">
  <div class="col-md-12">
  <div align = center class="col-md-6 col-md-offset-3" >
    <mdl-textfield id="textArea"  (keydown.enter)= "askAgain() ;false" rows="2" floating-label [(ngModel)]="q" style="border-bottom:#03A9F4;" ></mdl-textfield>
    <div style="text-align: right;">
      <!-- <mdl-spinner active="true"></mdl-spinner> -->
      <button (click) = " askAgain() " *ngIf="!loading" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple disabled="false" >
          Ask Again
      </button>
      <button (click) = "askIBM()" *ngIf="!loading" style="margin:10px;" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple [disabled]="!appcomponent.loggedIn" >
          Ask ibm
      </button>
    </div>
    <div class="loader" *ngIf="loading"></div>
    </div>
  </div>


  <!--services-->

  <h3 style="margin: 20px;" *ngIf="!noServices">Services</h3>


  <div  align="center" class="content-grid mdl-grid" style="color:white;">
    <div class="mdl-cell col-md-4" *ngFor=" let service of servicesViewed" style="color:white;">
    <a href={{service.link}} style="color:white;">
      <div class="image-circle" style="margin:10px;">
        <img src= {{service.img}}  />
      </div>
      <label>{{service.title}}</label>
    </a>
    <p style="color:white;">{{service.decription}}</p>
    </div>
    <div align="center" style="width:100%;">
      <a (click)= "viewMore(show)" style="border-radius:25px" mdl-button mdl-button-type="raised"
      mdl-colored="primary" *ngIf="more">{{show}}</a>
    </div>

  </div>


  <!-- answers -->
  <h3 style="margin:20px;" *ngIf="!loading"> Answers</h3>
  <div align="center" class="col-md-12" id="frame" style="margin: 20px;" *ngIf="noAnswers" >
    <label>No Related Answers at this time!</label>
  </div>
  <div style="margin-top: 20px; margin-bottom:100px;"align="center" id='frame' class=" mainbox col-md-12 " >
      <div style="margin-top: 20px; " class="col-md-12"  *ngFor = " let answer of dataViewed; let i = index " >
         <mdl-card class="demo-card-event" mdl-shadow="2" style="width: 100%;" >
          <mdl-card-title mdl-card-expand>
             <div class = "col-md-11">
               <p>
                 {{answer.ans}}
              </p>
             </div>
        </mdl-card-title>
          <mdl-card-actions mdl-card-border>
            <button mdl-button mdl-colored mdl-ripple (click)="bookmark(answer,i)" [disabled]="!appcomponent.loggedIn">
            <i class="glyphicon glyphicon-star" *ngIf="answer.bookmarked"></i>
            Bookmark
            </button>
            <button mdl-button mdl-colored mdl-ripple (click)="Copy(answer)">
            Copy
            </button>
            <mdl-layout-spacer></mdl-layout-spacer>
            <mdl-icon>event</mdl-icon>
          </mdl-card-actions>
        </mdl-card>
      </div>
    </div>
</template>
</div>
