<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <h3> TESTING </h3>
</head>

<body>
  <form action="/auth/logout">
    <input type="submit" value="logout" />
  </form>

  <form method="POST" action="/bookmarks">
     <input type="text" id="bar" name="question" />
     <button type="submit">Send</button>
  </form>


</body>
</html>
