
<div align="center" id='frame' class=" mainbox col-md-6 col-sm-12 col-md-offset-3  col-sm-offset-2">
  <!-- <div class="panel panel-default">
    <i class="material-icons">exit_to_app</i>
    <div class="panel-heading">Log in with an account</div>
    <div class="panel-body"> -->

        <h1 align="center" class="col-sm-12">Log in with an account</h1>
    <table>
      <tr>
        <button class="loginBtn loginBtn--facebook btn btn-default trial btn-responsive ">
        Login with Facebook
      </button>
      </tr>
      <tr>
        <button class="loginBtn loginBtn--linkedin btn btn-default trial btn-responsive">
        Login with Linkedin
      </button>
      </tr>
    </table>
    <!-- <div style="border-top: 1px solid#888; padding-top:15px; font-size:85% ">
      <p >
        Don't have an account!
      </p>
      <a class="col-sm-12" style="color:#FF0000" href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">Sign Up Here  </a>
    </div> -->
  </div>
