
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- <title>Login page</title> -->

<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



  <div align="center" id='frame' class=" mainbox col-md-6 col-md-offset-3  col-sm-offset-2">
      <h1 id="header" align="center" class="col-sm-12">Log in with an account</h1>
    <!-- <button id="Facebook" type="button" class="btn btn-secondary btn-lg btn-block block center"><a href="https://www.w3schools.com/html/">Log in with Facebook</a></button>
    <button id="Linkedin"type="button" class="btn btn-secondary btn-lg btn-block ">Log in with Linkedin</button>
    <button id="Twitter" type="button" class="btn btn-secondary btn-lg btn-block ">Log in with Twitter</button> -->
    <!-- <a id="btn-fblogin" href="#" class="btn btn-primary btn-lg btn-block">Login with Facebook</a>
    <a id="btn-twlogin" href="#" class="btn btn-primary btn-lg btn-block">Login with Twitter</a>
    <a id="btn-lilogin" href="#" class="btn btn-primary btn-lg btn-block">Login with Linkedin</a> -->
  <table>
    <tr>
      <a href="/auth/facebook" class="loginBtn loginBtn--facebook btn btn-default trial btn-responsive ">
      Login with Facebook
    </a>
    </tr>
  <tr>
    <a href="/auth/google"  class="loginBtn loginBtn--google btn btn-default trial btn-responsive">
    Login with Google
  </a>
  </tr>
    <tr>
      <a href="/auth/linkedin"  class="loginBtn loginBtn--linkedin btn btn-default trial btn-responsive">
      Login with Linkedin
    </a>
    </tr>
  <!-- <tr > -->

  <!-- </tr> -->
  </table>
  <div style="border-top: 1px solid#888; padding-top:15px; font-size:85% ">
    <p >
      Don't have an account!
    </p>
    <a class="col-sm-12" style="color:#FF0000" href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">Sign Up Here  </a>
  </div>

  <!-- <div class="form-group"> -->
    <!-- <div class="col-md-12 control"> -->
    <!-- </div> -->
  <!-- </div> -->
  </div>
